$base: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$tisa: "ff-tisa-web-pro", "Tisa Pro", $base;
$brandon: "brandon-grotesque", "Brandon Grotesque", $base;

$yellow: #ffb53b;
$yellow-faded: #feedd2;
$black: #3a3a3a;
$grey: #a1a1a1;